{# home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <turbo-frame id="the_frame_id">
        <a href="{{ path('app_task_index') }}">This block is scoped, the rest of the page will not change if you click here!</a>
    </turbo-frame>

    <turbo-frame id="the_frame_id" src="{{ path('app_task_index') }}">
        A placeholder......
    </turbo-frame>
{% endblock %}