# compose.yaml
services:
  mysql:
    ports:
      - "3306:3306"
  php:
    ports:
      - "80:80"
  phpmyadmin:
    ports:
      - "8080:80"
###> symfony/mercure-bundle ###
  mercure:
    ports:
      - "80"
###< symfony/mercure-bundle ###
