<div id="my_div_id" class="my_class">
</div>


<div id="task-form">
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>